<?xml version="1.0"?>

<launch>
  <!-- Def Args.
  <arg name="gui"       default="true"/>
  <arg name="rviz"      default="true"/> -->

  <rosparam command="load" file="$(find my_work_pkg)/robots/jackal_limits.yaml" />

  <param name="inclination_max" value="$(eval param(wheel_dist_to_cog_min)*2)"/>

  <rosparam command="dump" file="$(find my_work_pkg)/robots/jackal_limits_compiled.yaml" />

</launch>
