<?xml version="1.0"?>

<launch>
  <!-- Def Args. -->
  <arg name="gui"       default="true"/>
  <arg name="rviz"      default="true"/>
  
  <!-- robot sensor configuration. choose between "ouster" and "front_bumblebee2" /> -->
  <arg name="config"    default="front_bumblebee2" />
  
  
  <!-- 
  "$(find rescue_jackal)/worlds/test_arena.world"
  "$(find my_work_pkg)/worlds/simpleWorld3.world"
  "$(find ouster_description)/worlds/example.world"
  "$(find jackal_gazebo)/worlds/jackal_race.world"
  "/home/ubuntu/Desktop/multi_robot_exploration/worldspkg/worlds"
  "$(find my_work_pkg)/worlds/simpleWorld_brick_texture3_moreFriction.world"
  -->
  <!-- <arg name="world"     default="$(find cpr_inspection_gazebo)/worlds/inspection_world.world" />
  <param name="inspection_geom" command="$(find xacro)/xacro - -inorder '$(find cpr_inspection_gazebo)/urdf/inspection_geometry.urdf.xacro'" />-->
  <arg name="world"     default="$(find my_work_pkg)/worlds/simpleWorld_brick_texture3_moreFriction.world" />   


  <!-- Start Gazebo. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose"      value="true" />
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)"/>
    <arg name="world_name"   value="$(arg world)"/>
    <arg name="debug"        value="0" />
    <arg name="headless"     value="false" />
  </include>
  <!-- only for inspection_world 
  <node name="inspection_world_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model inspection_geom -param inspection_geom -x 0 -y 0 -z 0 -Y 0" />-->

  <!-- Load Jackal's description, controllers, and teleop nodes. -->
  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>
  <include file="$(find jackal_control)/launch/control.launch" />
  <include file="$(find jackal_control)/launch/teleop.launch">
    <arg name="joystick" value="false"/>
  </include>

  <!-- Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model jackal -param robot_description -x 0 -y 0 -z 0" />

  <!-- stereo camera processing -->
  <node ns="front" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
      <remap from="left/image" to="left/image_raw"/>
      <remap from="right/image" to="right/image_raw"/>
  </node>

  <!-- View in RVIZ. -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_work_pkg)/rviz/jackal_controller_zed_elevationMap.rviz" />
    <!-- "-d $(find my_work_pkg)/rviz/jackal_controller_zed_elevationMap.rviz" -->
    <!-- "-d $(find jackal_base)/rviz/jackal.rviz" -->
    <!-- "-d $(find my_work_pkg)/rviz/myRVIZconfiguration_inpaintedRawElevation.rviz" -->
  </group>

</launch>
